# Copy to .env and fill in real values locally (never commit .env).

PORT=5000
MONGODB_URI= mongodb+srv://itew6group10:MncEvp5n5AosI59C@cluster0.woihrka.mongodb.net/ccs-profiling-system?retryWrites=true&w=majority
JWT_SECRET= 61f0332a3f0d7ba9eece0da536a14e342525fcc9e0cb657dc736513feb1e9b1cf7e6b6cee1c763edd73331819dee3e5058e6cb93fcf2b3e84fe5581037c87b71

# only needed when running user seed script (src/scripts/seedUsers.js)
SEED_ADMIN_PASSWORD=
SEED_FACULTY_PASSWORD=
SEED_STUDENT_PASSWORD=
