# itew6group10
# MncEvp5n5AosI59C

PORT=5000
MONGODB_URI=mongodb://itew6group10:MncEvp5n5AosI59C@ac-8u0jz7i-shard-00-00.woihrka.mongodb.net:27017,ac-8u0jz7i-shard-00-01.woihrka.mongodb.net:27017,ac-8u0jz7i-shard-00-02.woihrka.mongodb.net:27017/?ssl=true&replicaSet=atlas-43oczq-shard-0&authSource=admin&appName=Cluster0

